<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
Hello blog!

<div class="container text-center">
    <h1>Blog</h1>
    <h2>toshakolobov has written {{ entries|length }} blog{{ entries.count|pluralize }}</h2>
    {% for entry in entries %}
        <a href="{% url 'blog:detail' entry.id %}"><h3>{{ entry.title }}</h3></a>
        <h5>{{ entry.date|date:'d.m.y' }}</h5>
        <p>{{ entry.description|striptags|truncatechars:100 }}</p>
    {% endfor %}
</div>